body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('p.jpg'); /* Background image */
  background-size: cover; /* Cover the entire background */
}

.container {
  max-width: 600px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

input[type="text"] {
  width: calc(100% - 40px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button, .button {
  padding: 10px 20px;
  background-color: #007bff; /* Blue button */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Display as inline block */
  transition: background-color 0.3s; /* Smooth transition */
}

button:hover, .button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.button.red {
  background-color: red; /* Red button */
}

.button.red:hover {
  background-color: darkred; /* Dark red on hover */
}

#linkOutput {
  margin-top: 20px;
}
